a {
    color: white;    
    text-align:center;
}

form {
    display:block; 
    margin:0 auto;
    text-align:center;
}

body {
    background-color: black;
}

.clue {
    color:white;
    font-family: 'Roboto', sans-serif;
    border-color:white;
    border-style:solid;
    margin:100px;
    padding:50px;
}
.banter {
    color:white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    top:50%;
    width:100%;
    margin-top: -100px;
}

h1 {
    font-weight:lighter;
    font-size:30px;
}

h2 {
    font-weight:lighter;
    font-size:20px;
}

button {
    font-size:30px;
    display:block; 
    margin: 0 auto;
    border: solid;
    border-color: white;
    background-color: black;
    color: white;
}
button:hover {
    background: gray;
}

#location{
    display: none;
}